version: "3.9"
services:
  db:
    image: postgres:16
    ports: ["5432:5432"]
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mini_db
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
